  
 body{ 
	/* background-color:purple;
	
	 background-color:#000033;
	 background-image:url(../images/bg2.jpg);*/

 }


#jumbo-background{
	background:  url(../images/NewGi.jpg) no-repeat ;
	margin-bottom: 0px;
	background-attachment: fixed;
	background-size:cover;
	/*background-size: 1280px 500px;*/
	text-align: center;
	overflow: hidden;
	
}


#header{
	text-align: center;
	background-color: #666633;
	opacity: 0.9;
	color: #ffffff;
	border-radius: 10px;
	font-weight: bold;
	font-family: "Times New Roman, Times, serif";
	width: 80%;
}

#containerforms{

	background:  url(../images/New.jpg) no-repeat ;
	margin-bottom: 0px;
	background-attachment: fixed;
	/*background-size: 1280px 500px;*/
	background-size:cover;
	overflow: hidden;
	

}

#row-form{

	
	background: rgba(176,105,189,0.4);
}

#signappointment{
		background-color:purple ;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
      opacity: 0.8;
      width: 100%;
}

#signinbutton{
	font-weight: bolder;
}

#signin{
	background-color:purple ;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
      opacity: 0.7;
      width: 80%;

}

#signin-email, #signin-password{

	background-color: black;
	color: #ffffff;
	 font-weight: bold;
}
.input-group-addon{
	font-weight: bolder;
	background-color: #000066;
	color: #ffffff;
}

#feature-carousel {
	min-height: 250px;
	}

.carousel-indicators li {
  background: #C4C4BE;
}

.carousel-indicators li.active {
	  background: #FE980F;
}


.carousel-control{
	color: yellow;
	font-weight: bolder;
}




#imgslider{

	width: 1500px;
	height: 700px;
}


#imgslider2{

	width:100%;
	height:360px;
}







#secondsection{
background-color:gold;
 	padding: 2px;
}

 
#logo{

/*
	display:inline-block; 
	height:37px; 
	margin-top:-5px;
	width:105px;
	*/
}


.navbar-brand{

margin-left:2px;

font-weight: bold;
/*background-color: #ffffff;*/
 
}

#social-icon{

	display:inline-block; 
 
	margin-top:7px;
	
}


#navigation {
background-color: #008d4b;
}
 
 #navigation #ulnavbar > li > a{
	 
 color: #FFF;
 font-weight:bold;



font-family: Times New Roman, Times, serif;
/*
font-family:verdana;
font-family:courier;
*/

 } 
  #navigation #ulnavbar > li > a:hover {

 color:#bed62f;
 
 }



 

#navigation #ulnavbar > li > a:hover:not(.active){color:#bed62f;}
 
#navigation #ulnavbar > .active > a {
background-color: #330066;
color: #FFF;
padding-bottom: 0.62em;
border-bottom: 0.45em solid #FFF;
}



/*for navigation to stick at the top*/
.sticker{

position:fixed;
top:0px;
z-index:999999;
width:100%;
transition:all 3.0s ease-in-out;
}



















#appointbutton{
	
	background-color: #000066;
	font-weight: bolder;
	font-size: 12px;
}
#Appointmentbutton{
		margin-top: 10px;
padding: 3px 15px;
background-color: #000066;
color: #ffffff;
border-radius:4px;

}

 #display_area{

 	text-align: center;
 	font-size: 16px;
 	font-weight: bolder;
 	color: red;
 }
 
.imagelogin{
	
	top:0;

}



.first-footer{
	background:#008d4b;
	
}

.second-footer{
	background:#bed62f;
	
}


#footer-link{
	font-family: Times New Roman, Times, serif;
	font-size: 17px;
	color:#ffffff;
}

#footer-item{
	
	color:#ffffff;

}

#ul-footeritem{
	list-style-type: square;
	color:#ffffff;
}

#ul-footeritem li a{
	color: #ffffff;
}



#developerpara{
	
text-align:right;
color:#0000ff;	
}
    #copyrightpara{
		  text-align:center;
color:#000;
		
	}

	
	

	
	
	#imgheader{
		
	height:120px;
	width: 1070px;
	}
	
	.card {  
		position: relative; 
		 border: 0.1rem solid #e5e5e5;
		   border-radius: 10px; 
		    position: relative;
		      background-color: #FFF;
		      opacity: 0.9;
		       }

		       .card-img-top { 
		        border-radius: 0.4rem 0.4rem 0 0; 
	                 height:250px;
	                 width: 370px;
	                 margin:0; 
	                 }

	                 .card-block {  
	                 	padding: 1.25rem;
	                 }
	
	.card-title{
		text-align: center;
	}
	
	
	#panelpara{
	text-align: center;	
	}



.modal-content{
		
		background-color:#ffffff;
		border-radius: 4px;
	}
.modal-title{
 text-align: center;
font-size: 20px;
padding: 10px 10px;
color: #ffffff;
background-color:#008d4b;
font-weight: bold;
}
#submitbutton{

padding: 3px 15px;
background-color: #000066;
color: #ffffff;
border-radius:4px;

}
	 #mail, #password{
width: 80%;
font-weight:bold;
margin-left: 50px;
}
#closebutton{
background-color:red;	
color: #ffffff;
font-weight:bold;
}

#Loginbutton{
	margin-top: 10px;
padding: 3px 15px;
background-color: #000066;
color: #ffffff;
border-radius:4px;
}



#video-file{

	width: 485px;
	height: 690px;
	margin-top: -10;
}
#panelvideo{

	border: 0px;
	background-color: grey;
}

#paneheadvideo{
	background-color:#008d4b;
	color: #ffffff;
	font-weight: bold;
	font-family: 
}





#panelupcomingevents{
border: 0px;
	background-color: rgb(202, 198, 79);
}
#paneheadevents{
	background-color:#008d4b;
	color: #ffffff;
	font-weight: bold;
	font-family:;
}
#event-h3{
	font-size: 18px;
	text-align: center;
}