  
 body{
	 margin:0;
	 background-color:;
	 /*background-image:url(../images/bg2.jpg);*/
 }

 #containerindex{
margin-top:35px;
/*background-image:url(../images/bg1.png);*/

 }

#container-changepassword{
margin-top:70px;
}


 #header{
	text-align: center;
	font-weight: bold;
}

#headerclientiles{

	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

#row-services{
	background:lightgree;
	padding: 5px 5px;
}
 
#logo{


	display:inline-block; 
	height:37px; 
	margin-top:-5px;
	width:105px;
}


.navbar-brand{

margin-left:2px;
background-color: #ffffff;
font-weight: bold;
 
}

.brand-text{
	color:orange;
}
 


 
 #navigation {
background-color: #008d4b;
}
 
 #navigation #ulnavbar > li > a{
	 
 color: #FFF;
 font-weight:bold;

font-family: Times New Roman, Times, serif;

 }
 
 
  
 
 
 
#navigation #ulnavbar > li > a:hover {

 color:#bed62f;
 
 }
 

#navigation #ulnavbar > li > a:hover:not(.active){color:#bed62f;}
 
#navigation #ulnavbar > .active > a {
background-color: #330066;
color: #FFF;
padding-bottom: 0.62em;
border-bottom: 0.45em solid #FFF;
}

 

 #ulnavbar > li > .dropdown-toggle {

	background-color:#008d4b; 
}

#ulnavbar > li > .dropdown-toggle > a:hover{

	background-color:#0099ff; 
}

 .dropdown-menu{
	background-color:#ffffff; 
	
}


.dropdown-menu > li > a{
color:#000;
font-weight: bolder;
}

.dropdown-menu > li > a:hover {
 color: #0099ff;
 }






/*for navigation to stick at the top*/
.sticker{

position:fixed;
top:0px;
z-index:999999;
width:100%;
transition:all 3.0s ease-in-out;
}
 
 
.imagelogin{
	
	top:0;

}



#risk-tool-list{

	width:280px;
	display:inline-block;
		
}

#Appointmentbutton{
		margin-top: 10px;
padding: 3px 15px;
background-color: #000066;
color: #ffffff;
border-radius:4px;

}
 #display_area{

 	text-align: center;
 	font-size: 16px;
 	font-weight: bolder;
 	color: red;
 }



#panehead{
	
	text-align: center;
	background-color:#008d4b;
	color:#fff;
	
}

#panehead-riskassessement{
text-align: center;
	background-color:#008d4b;
	color:#fff;

}

#heading4{
	font-weight:bolder;
	text-align: center;
	color: green;
}

#panedefault{
	border : 1px solid #bed62f;

}


#panelpara{
	
	font-weight:bolder;
}

#panelparagreen{
	font-weight:bolder;
	color: green;
}

#riskassessPara{
	font-weight:bolder;
	text-align: center;
}


#biznessword{
	background-color: red;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
	color: #ffffff;
	font-weight: bolder;
}



#risk-head3{
	text-align: center;
}


#risk-para{

	text-align: center;
	font-weight: bolder;
}

#rish-head{
	font-weight: bolder;
}

#table-risk{
	width: 200%;
}

#riskbutton{
	background-color: blue;
	color:#ffffff;
	font-weight: bold;
}


.first-footer{
	background:#008d4b;
	
}

.second-footer{
	background:#bed62f;
	
}


#footer-link{
	font-family: Times New Roman, Times, serif;
	font-size: 17px;
	color:#ffffff;
}

#footer-item{
	
	color:#ffffff;
}

#ul-footeritem{
	list-style-type: square;
	color:#ffffff;
}
#ul-footeritem li a{
	color: #ffffff;
}


#developerpara{
	
text-align:right;
color:#0000ff;	
}
    #copyrightpara{
		  text-align:center;
color:#000;
		
	}

	#closeicon{

	background-color: red;
	border-radius: 100px;
	font-weight: bolder;
	color: #ffffff;
opacity: 4;
	font-size: 35px;
}

	
.modal-content{
		
		background-color:#ffffff;
		border-radius: 4px;
	}
.modal-title{
 text-align: center;
font-size: 20px;
color: #ffffff;
padding: 10px 10px;
font-weight: bold;
background-color: #008d4b;
}
	 #mail, #password{
width: 80%;
font-weight:bold;
margin-left: 50px;
}
	#submitbutton{
margin-top: 10px;
padding: 3px 15px;
background-color: #000066;
color: #ffffff;
border-radius:4px;

}
#closebutton{
background-color:red;	
color: #ffffff;
font-weight:bold;
}



#closebutton-assement{
background-color:red;	
color: #ffffff;
font-weight:bold;

}


.closebutton-assement{
display: none;
	
}

#Loginbutton{
	margin-top: 10px;
padding: 3px 15px;
background-color: #000066;
color: #ffffff;
border-radius:4px;
}


#risk-tr{

	background-color:;
}
	#button{
		margin-top: 10px;
padding: 3px 15px;
background-color: #000066;
color: #ffffff;
border-radius:4px;


}